<button mat-button>
  <mat-icon aria-label="exit room">input</mat-icon> Exit Room
</button>

<button mat-raised-button color="primary" (click)="runRoulette()">
  ルーレットを回す
</button>
<div *ngIf="latest$ | async as latest">
  <div>最新の結果</div>
  <div>{{ latest?.name }} : {{ latest?.value }}</div>
</div>

<h2>History</h2>

<ng-container *ngIf="history$ | async as history">
  <table mat-table [dataSource]="history" style="min-width: 500px;">
    <!-- <mat-text-column name="no"></mat-text-column> -->
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="value"></mat-text-column>
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>UpdatedAt</th>
      <td mat-cell *matCellDef="let element">
        {{ element.updatedAt | date: 'MM/dd HH:mm:ss' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
