<h2>co-randへようこそ</h2>
<form>
  <mat-card>
    <!-- <mat-card-header> -->
    <!-- </mat-card-header> -->
    <mat-card-content>
      <mat-form-field>
        <mat-label>ユーザ名</mat-label>
        <input
          matInput
          type="text"
          placeholder="名前を入力してください"
          maxlength="30"
          required
          [formControl]="name"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        color="primary"
        aria-label="Login button"
        mat-raised-button
        (click)="login()"
      >
        login
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- <button
  type="button"
  color="primary"
  aria-label="Logout button"
  mat-button
  (click)="logout()"
>
  <mat-icon aria-label="logout">input</mat-icon>
  logout
</button>

<mat-form-field>
  <input
    matInput
    type="text"
    placeholder="名前の変更"
    maxlength="30"
    [formControl]="name"
  />
</mat-form-field>
<button
  type="button"
  color="primary"
  aria-label="Change name button"
  mat-button
  (click)="changeName()"
>
  <mat-icon aria-label="change name">input</mat-icon>
  change name
</button> -->
