<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Navigation back"
    mat-icon-button
    (click)="navigationBack()"
  >
    <mat-icon aria-label="Navigation back">arrow_back</mat-icon>
  </button>
  <span style="flex: 1"><a [routerLink]="['/']">co-rand</a></span>

  <button
    type="button"
    aria-label="Popup Navigation Menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon aria-label="Popup Navigation Menu">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">ログアウト</button>
  </mat-menu>
</mat-toolbar>
<mat-card *ngIf="userName$ | async as userName">
  <mat-card-content style="display: flex; align-items: center;">
    <p style="font-size: 1.4em;">{{ userName }}</p>
    <div style="flex: 1;"></div>
    <button mat-icon-button><mat-icon>edit</mat-icon></button>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
