<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Navigation back"
    mat-icon-button
    *ngIf="false"
  >
    <mat-icon aria-label="Navigation back">arrow_back</mat-icon>
  </button>
  <span style="flex: 1">co-rand</span>

  <button
    type="button"
    aria-label="Popup Navigation Menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon aria-label="Popup Navigation Menu">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">ログアウト</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
